<!DOCTYPE html>

<head>
  <title>SOMETHING WENT WRONG</title>
  <link rel="stylesheet" href="/app/static/errors.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body> 
  <h2>The market you're looking for does not exist!</h2>
  <h3>Make sure you're entering a valid "Echosystem", and check for typo!</h3>
  <h4>For example, to check $ADA, you must enter "Cardano", and for $DOT, search for "Polkadot"</h4>

  <button class="button" type="button" onClick="location.href='/'">Try Again</button>
</body>
