<!DOCTYPE html>

<html>
<head>
  <title>Crypto Daily Charts</title>
  <link rel="stylesheet" href="/app/static/styles.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
<div class="all"> 
  <div class="header"> 
  <h3>Daily Candles</h3>
  </div>

  <div class="user_input">
    <form method="get" action="/calculate"> 
    <input class="market" type="text" name="market" placeholder="Bitcoin" required>
    <input class="days" type="number" name="days" placeholder="30" required>
  </div>

  <div class="button">
    <button class="click" type="submit">Go</button>
  </div>
  
</form>
</div>
</body>
</html>